<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Error</title>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h1 th:text="${errorCode}">404</h1>
    <h2 th:text="${errorMessage}">Nie znaleziono strony.</h2>

    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>